@model IEnumerable<Presupuestos.Models.TipoCuenta>

@{
    ViewData["Title"] = "Tipos cuentas";
}

<h1>Tipos Cuentas</h1>
<h5>el tipo de cuentas se refiere a como podemos agrupar cuentas. ejemplo: Prestamos, Tarjetas de Crédito, Etc.</h5>

<p>
    <a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
            <th>
               Nombre
            </th>                        
        </tr>
    </thead>
    <tbody id="reordenable">
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="hidden"  value="@item.Id" class="ids" />
                <a class=" btn btn-primary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                <a class=" btn btn-danger" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>            
        </tr>
}
    </tbody>
</table>
@section Scripts{ 
    <script>
        const urlOrdenar = '@Url.Action("Ordenar")';
        $(function () {
            $('#reordenable').sortable({
                stop: async function (e, ui) {
                   await actualizaOrdenes();
                }
            });

            async function actualizaOrdenes() {
                const ids = obtenerIdsDeElementos();
                await enviarIdsAlBackEnd(ids);
            }

            function obtenerIdsDeElementos() {
                const ids = $(".ids").map(function () {
                    return $(this).val();
                }).get()

                return ids;
            }

            async function enviarIdsAlBackEnd(ids) {
                var data = JSON.stringify(ids);
                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: { 'Content-Type': 'application/json' }
                });
            }
        });
    </script>
}